/* RegisterPage.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: #e8f5e9; /* Verde claro */
}

.register-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Ajustando para que o formulário não ocupe toda a tela */
  box-sizing: border-box;
  text-align: center;
}

h2 {
  color: #388e3c; /* Verde */
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #388e3c; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #2c6b33; /* Verde escuro */
}
